*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Playfair Display", serif;
  background-color: #dcf2f1;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #7fc7d9;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
.navbar-links{
  display: flex;
  column-gap: 22px;
}
.navbar-links a{
  text-decoration: none;
  color: #1d232c;
}
.navbar-links a:hover{
  text-decoration: underline;
  color: #1d232c;
}
.navbar-menu-toggle{
  display: none;
}

/* Side Navbar */
.side-navbar{
  background-color: #1d232c;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -60%;
  padding: 20px;
  color: white;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.side-navbar-link{
 margin-bottom: 30px;
}
.side-navbar-link a{
  text-decoration: none;
 color: white;
 }
 .side-navbar-link a:hover{
  text-decoration: underline;
 }

 /* header */
 .header{
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  margin-top: 80px;
 }
 .head-btn{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: #1d232c;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.header-img{
  width: 350px;
  height: 650px;
}
/*  Service */
.service{
  padding: 30px;
}
.service-container-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-container-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.service-container-2 div{
  background-color: #c6d7f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* Arrival */
.new-arrival{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.arrival-container{
  position: relative;
  flex-basis: 20%;
}
.new-arrival button{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top:5px;
  color: #1d232c;
  position: absolute;
  top: 50%;
  left: 18%;
  border-radius: 10px;
  border: none;
}
.Arrival-img{
  width: 200px;
  height: 150px;
}
/* news */
.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.news input{
  padding: 10px;
  width: 80vw;
  margin-bottom: 10px;
  margin-top: 5px;
  border: solid black 3px;
}
.news button{
  margin-top: 10px;
  color: #f2f4f7;
  background-color: #1d232c;
  border-radius: 10px;
  padding: 10px;
}
/* footer */
.footer{
 margin-top: 20px;
  padding: 40px;
  background-color: #1d232c;
  color: white;
}
/* Media Query */
@media screen and (max-width:700px) {
  .navbar-menu-toggle{
    display: block;
  }
  .navbar-links{
    display: none;
  }
  .header-img{
    display: none;
  }
  .service-container-1{
    display: none;
  }
  .service-container-2{
    flex-direction: column;
  }
}